{% extends 'layout.html.twig' %}

{% block stylesheet %}<link rel="stylesheet" href="/assets/css/styleRoom.css">{% endblock %}

{% block content %}

    <img class="bg-img" src="/assets/images/scene-crime2.jpg" alt="">
    <div class="container">

            <h1>Quel élément appartient au film {{ movie.title }} ?</h1>
            <h1>{{ counter }}</h1>
        {% for image in responseElements %}
            {% if image.statut %}
                <a href="http://localhost:8000/room/showById/"><img class="{{ image.class }} position" src="{{image.imgUrl}}" alt=""></a>
            {% else %}
                <a href="/Final/lose"><img class="{{ image.class }} position" src="{{image.imgUrl}}" alt=""></a> {# Tout doux#}
            {% endif %}
        {% endfor %}


{#        <input type="image" class="blair" id="75" alt="bouton recherche de film" src="{{responseElements[0].imgUrl}}">#}
{#        <input type="image" class="scream" id="33" alt="bouton recherche de film" src="{{responseElements[1].imgUrl}}">#}
{#        <input type="image" class="paranormal" id="6" alt="bouton recherche de film" src="{{responseElements[2].imgUrl}}">#}
{#        <input type="image" class="destination" id="7" alt="bouton recherche de film" src="{{responseElements[3].imgUrl}}">#}
{#        <input type="image" class="moon" id="37" alt="bouton recherche de film" src="{{responseElements[4].imgUrl}}">#}
{#        <input type="image" class="exocist" id="43" alt="bouton recherche de film" src="{{responseElements[5].imgUrl}}">#}
{#        <input type="image" class="saw" id="17" alt="bouton recherche de film" src="{{responseElements[6].imgUrl}}">#}

    </div>
{% endblock %}
