{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Item {{ item.title }}</h1>
    <p>{{ item.id }}. {{ item.title }}</p>
    <a href="/item/edit/{{ item.id }}">Edit</a>
    <form action="/item/delete/{{item.id}}" method="POST">
        <button>Delete</button>
    </form>
    <a href="/item/index">Back</a>
{% endblock %}
